<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <title>祖玛管理系统</title>
</head>
<body class="layui-layout-body">

<div>
    <fieldset class="layui-elem-field layui-field-title site-demo-button" style="margin-top: 30px;">
        <legend>{{ type }}</legend>
    </fieldset>
</div>

<div>
    <form class="layui-form" action="/admin/push/search/{{ typeId }}" method="get">
        <div class="layui-form-item">
            <label class="layui-form-label">游戏名称</label>
            <div class="layui-input-inline">
                <select name="search_wxAppId" lay-verify="required" lay-search>
                    <option value="">请选择游戏</option>
                    {% for wxappid, name in gameChoice.items %}
                        <option value="{{ wxappid }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="query">查询</button>
            </div>
        </div>

    </form>
</div>
<div>
    <table class="layui-table" lay-even>
        <colgroup>
            <col>
            <col>
            <col width="350">
            <col>
            <col width="200">
            <col width="200">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th> 序号</th>
            <th> 游戏名称</th>
            <th> 导出游戏</th>
            <th> 当前配置</th>
            <th> 同步仿真服</th>
            <th> 同步线上服</th>
            <th> 操作人</th>
            <th> 同步线上服时间</th>

        </tr>
        </thead>
        <tbody>
        {% for i in data %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>
                    {% for id, value in educe.items %}
                        {% if i.id == id %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="site-demo-button" id="m_look" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}">预览
                        </button>
                    </a>
                </td>
                <td>
                    <a class="site-demo-button" id="m_fz" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" version_id="{{ i.id }}">推送仿真
                        </button>
                    </a>
                    <a class="site-demo-button" id="m_fz_data" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" game_name="{{ i.name }}"
                                type_name="{{ type }}" version_id="{{ i.id }}">预览
                        </button>
                    </a>
                </td>
                <td>
                    <a class="site-demo-button" id="m_online" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-danger"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" version_id="{{ i.id }}">推送线上
                        </button>
                    </a>
                    <a class="site-demo-button" id="m_online_data" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-danger"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" game_name="{{ i.name }}"
                                type_name="{{ type }}" version_id="{{ i.id }}">预览
                        </button>
                    </a>
                </td>
                <td>{{ i.online_user }}</td>
                <td>{{ i.online_modifi_time }}</td>
            </tr>
        {% endfor %}


        {% for i in wxAppIdData %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>
                    {% for id, value in educe.items %}
                        {% if i.id == id %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="site-demo-button" id="m_look" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}">预览
                        </button>
                    </a>
                </td>
                <td>
                    <a class="site-demo-button" id="m_fz" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" version_id="{{ i.id }}">推送仿真
                        </button>
                    </a>
                    <a class="site-demo-button" id="m_fz_data" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" game_name="{{ i.name }}"
                                type_name="{{ type }}" version_id="{{ i.id }}">预览
                        </button>
                    </a>
                </td>
                <td>
                    <a class="site-demo-button" id="m_online" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-danger"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" version_id="{{ i.id }}">推送线上
                        </button>
                    </a>
                    <a class="site-demo-button" id="m_online_data" style="margin-bottom: 0;">
                        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-danger"
                                oriented_id="{{ i.id }}" type_id="{{ typeId }}" game_name="{{ i.name }}"
                                type_name="{{ type }}" version_id="{{ i.id }}">预览
                        </button>
                    </a>
                </td>
                <td>{{ i.online_user }}</td>
                <td>{{ i.online_modifi_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
</div>


<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });

    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(query)', function (data) {
        });
    });

    layui.use('layer', function () {

        var $ = layui.jquery, layer = layui.layer;
        var active = {
            offset: function (othis) {
                var m_content = '/admin/push/look/' + this.getAttribute('oriented_id') + '/' + this.getAttribute('type_id');
                layer.open({
                    skin: 'layui-layer-molv',
                    type: 2,
                    title: '当前数据',
                    shadeClose: true,
                    shade: 0.6,
                    area: ['1000px', '90%'],
                    content: m_content,
                    maxmin: true,
                    anim: 1,
                });
            }
        };

        $('#m_look .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

        //推送仿真数据
        var fz = {
            offset: function (othis) {
                var type = othis.data('type');
                var m_content = '/admin/push/fz/' + this.getAttribute('oriented_id') + '/' + this.getAttribute('type_id') + '/' + this.getAttribute('version_id');
                layer.open({
                    type: 1,
                    offset: type,
                    title: '提示',
                    id: 'pushfz' + type, //防止重复弹出
                    content: '<div style="padding: 20px 100px;">' + '确定推送仿真服？' + '</div>',
                    btnAlign: 'c', //按钮居中
                    shade: 0, //不显示遮罩
                    btn: ['确定', '取消'],
                    yes: function () {
                        layer.closeAll('page'); //关闭所有页面层
                        layer.open({
                            skin: 'layui-layer-molv',
                            type: 2,
                            title: '推送仿真数据',
                            shadeClose: true,
                            shade: 0.6,
                            area: ['1000px', '90%'],
                            content: m_content,
                            maxmin: true,
                            anim: 1,
                        });
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        };
        $('#m_fz .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            fz[method] ? fz[method].call(this, othis) : '';
        });

        //仿真查看数据
        var m_fz_data = {
            offset: function (othis) {
                var m_content = '/admin/push/fzdata/' + this.getAttribute('oriented_id') + '/' + this.getAttribute('type_id') + '/' + this.getAttribute('version_id');
                layer.open({
                    skin: 'layui-layer-molv',
                    type: 2,
                    title: '查看仿真【' + this.getAttribute('type_name') + '】数据【' + this.getAttribute('game_name') + '】',
                    shadeClose: true,
                    shade: 0.6,
                    area: ['1000px', '90%'],
                    content: m_content,
                    maxmin: true, //允许全屏最小化
                    anim: 1,
                });
            }
        };
        $('#m_fz_data .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            m_fz_data[method] ? m_fz_data[method].call(this, othis) : '';
        });

        //推送线上数据
        var m_online = {
            offset: function (othis) {
                var type = othis.data('type');
                m_content = '/admin/push/online/' + this.getAttribute('oriented_id') + '/' + this.getAttribute('type_id') + '/' + this.getAttribute('version_id');
                layer.open({
                    type: 1,
                    offset: type,
                    title: '提示',
                    id: 'pushonline' + type, //防止重复弹出
                    content: '<div style="padding: 20px 100px;">' + '确定推送线上服？' + '</div>',
                    btnAlign: 'c', //按钮居中
                    shade: 0, //不显示遮罩
                    btn: ['确定', '取消'],
                    yes: function () {
                        layer.closeAll('page'); //关闭所有页面层
                        layer.open({
                            skin: 'layui-layer-molv',
                            type: 2,
                            title: '推送线上数据',
                            shadeClose: true,
                            shade: 0.6,
                            area: ['1000px', '90%'],
                            content: m_content,
                            maxmin: true,
                            anim: 1,
                        });
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });

            }
        };
        $('#m_online .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            m_online[method] ? m_online[method].call(this, othis) : '';
        });

        //线上查看数据
        var m_online_data = {
            offset: function (othis) {
                m_content = '/admin/push/onlinedata/' + this.getAttribute('oriented_id') + '/' + this.getAttribute('type_id') + '/' + this.getAttribute('version_id');
                layer.open({
                    skin: 'layui-layer-molv',
                    type: 2,
                    title: '查看线上【' + this.getAttribute('type_name') + '】数据【' + this.getAttribute('game_name') + '】',
                    shadeClose: true,
                    shade: 0.6,
                    area: ['1000px', '90%'],
                    content: m_content,
                    maxmin: true,
                    anim: 1,
                });
            }
        };
        $('#m_online_data .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            m_online_data[method] ? m_online_data[method].call(this, othis) : '';
        });
    });
</script>


</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
</div>

</body>
</html>


