{% extends "base.html" %}

{% block content %}
    <div>
        <ul class="layui-nav layui-bg-green" lay-filter="">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">导流配置</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="/admin/oriented/stripmodel/">导流条</a></dd>
                    <dd><a href="/admin/oriented/iconswitchmodel/">icon切换</a></dd>
                    <dd><a href="/admin/oriented/slideovermodel/">侧拉框</a></dd>
                </dl>
            </li>
        </ul>
        <br>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select name="type" lay-verify="required">
                            <option value=""></option>
                            <option value="0">icon切换</option>
                            <option value="1">导流条</option>
                            <option value="2">侧拉框</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="query">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
        <fieldset class="layui-elem-field layui-field-title site-demo-button" style="margin-top: 30px;">
            <legend>{{ type }}</legend>
        </fieldset>
    </div>
    <div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th> 游戏名称</th>
                <th> 导出游戏</th>
                <th> 操作</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>
                        {% for id, value in educe.items %}
                            {% if i.id == id %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                            <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" oriented_id="{{ i.id }}" type_id="{{ typeId }}">查看
                            </button>
                        </a>
                        <a href="/admin/push/fz/{{ i.id }}" class="layui-btn">
                            推送仿真
                        </a>
                        <a href="/admin/push/online/{{ i.id }}" class="layui-btn layui-btn-danger">
                            推送线上
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}
    </div>
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });

        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(query)', function (data) {
            });
        });

        layui.use('layer', function () {
            var $ = layui.jquery, layer = layui.layer;

            var active = {
                offset: function (othis) {
                    m_content = '/admin/push/look/' + this.getAttribute('oriented_id')  + '/' + this.getAttribute('type_id')
                    layer.open({
                        type: 2,
                        title: '',
                        shadeClose: true,
                        shade: 0.6,
                        area: ['800px', '70%'],
                        content: m_content
                    });
                }
            };

            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                console.log(this.getAttribute('oriented_id'));
                console.log(this.getAttribute('type_id'));
                active[method] ? active[method].call(this, othis) : '';
            });

        });
    </script>


{% endblock %}
